.PartyList {
  h3 {
    margin: 1rem 0 3rem 0;
  }

  &__table {
    font-size: 14;
    min-width: 40%;
    margin: 0 30%;
    background-color: white;
    border: 3px solid darkgray;
    border-radius: 1rem;
  }
}
.Yes {
  color: green;
}
.No {
  color: red;
}
