.ProfilePicture{
  margin: auto;
  width: 90%;
  margin-bottom: -180px;
}

img {
  border-radius: 50%;
  border-color: #EEAA00;
  border-width: 5px;
  border-style: solid;
  width:200px;
  height:200px;
  margin: 10%;
}
